$pink:#E08283;

.container{
	//outline:2px solid red;
}
.relative{
position: relative;
}
.lol{
	//background: red;
z-index: 5;
}
.qwe{
	//background: green;
	position: absolute;
	z-index: 3;
	top: 50px;
	margin-bottom: 150px;
	
	//transform:translateY(-300px);
}
.absolute{
position: absolute;
left: 0;
z-index: -1;
//margin-bottom: 150px;
top: 0px;
bottom: 0;
margin:auto 
}
.product{
	position: relative;
	&__text{
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		background: #fff;
		padding: 50px;
		padding-right: 100px;
		padding-bottom: 80px;
		width: 100%;
		//position: absolute;
		right: 0;
		p{
			color: grey;
			font-size: 16px;
		}
	}
	&__image{
//box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		img{
			width: 100%;
			height:auto;
		}
		
	}
}






















.card-button{
	z-index: 11111111;
	 		overflow: hidden;
	 		text-align: center;
	 		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	 		border-radius: 50px;
	 		outline: none;
	 		border: none;
	 		background: #F1A9A0;
	 		background: #81CFE0;
	 		//background: #AEA8D3;
	 		background: $pink;
	 		//background: #D2527F;
	 		text-transform: uppercase;
	 		font-size: 18px;
	 		color: #fff;
	 		font-weight: 500;
	 		padding: 7px 30px;
	 		transition:.3s;
	 		position: relative;
	 		display: inline-block;
			.lnr-cart{

			 	font-size: 22px;
			 	
			 	display: inline-block;
			 	transform: translateX(-100%);
			 	left: 0;
			 	right: 0;
			 	
			 	position: absolute;
			 	transition:.3s;
			 }
			 &__text{
			
			display: inline-block;
			transition:.3s;
			width: 100%;
			}
	 		&:hover{
	 			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	 		}
	 		&:active{
	 			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	 		}
			
			
	 	}



.card-button:hover{

		.lnr-cart{
			transform: translateX(-0px);

		}
		
		.card-button__text{
			transform: translateX(200%);
	 		
		}
		
}