$pink:#E08283;
.cartTable{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 12334234;
	margin-top: 15px;
	//bottom: -250%;
	width: 100%;
	
	position: absolute;
	right: 0;
	padding: 30px;
	background: #fff;
	&__table{
		width: 100%;
		border-collapse: separate; 
   		border-spacing: 0px  20px; 

   		.lnr{
   			font-size: 24px;
   			cursor: pointer;
   		}
		tr{
			text-align: left;

			td{
			font-size: 18px;
			}
			
		}
		img{
			border-radius:5px;
			width: 120px;
			margin-right: 30px;
		}
		.cartTable__productTD{
				font-size: 18px;
		}
	}
	h3{
		color:$pink;
		color: grey;
		font-weight: 100;
		text-align: center;
	}
}
.asd{
	background: red;
}