$pink:#E08283;
.container{
	//outline: 1px solid blue;
}
header{
	background: #fff;
	height: 100px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: flex;
	align-items:center;
}
.header{
	
	display: flex;
	align-items:center;
	flex-wrap:wrap;
	&__logo{
		flex-grow:2;
	}
}


.header-nav{

	margin: 0;
	padding: 0;
		//background: orange;
		list-style: none;
		flex-grow:1;
		display: flex;
		flex-wrap:wrap;
		justify-content:flex-end;

		li{
			
			margin-right: 10px;
			align-content:stretch;
			
			.header-nav__link{

				font-weight: 700;
				padding: 20px 40px;
				display: block;
				color: $pink;
				transition:.3s;
				border-bottom: 3px solid transparent;
				text-decoration: none;
				&:hover{
					text-decoration: none;
					background: #ececec;
				}
			}
			.active{
				border-bottom: 3px solid $pink;
				text-decoration: none;
			}
		}
		
	}


.relat{
	position: relative;
}
